@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto&family=Ubuntu&display=swap');
:root{
    --font-1: 'Montserrat', sans-serif;
    --font-2: 'Ubuntu', sans-serif;
    --font-3: 'Roboto', 'Ubuntu';
}
*{
    padding: 0px;
    margin: 0px;

}
body{    background-color: blueviolet;}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 7%;
    font-family: var(--font-2);
    font-size: 22px;
    background-color: rgb(175, 153, 235);
}
.navi img{
    border-radius: 45px;
    border:2px solid green;
    height: 50px;
}

.box{
    height: 500px;
    width: 1000px;
    background-color: rgb(202, 214, 247);
    border-radius: 39px;
    margin: auto;
    margin-top: 25px;
    opacity: 0.7;
}

.nav a:hover{
    color: rgb(164, 155, 144);
    text-transform:inherit;
    transition: all 0.1s ease-in-out;
}

.list{
    display: flex;
    list-style: none;
}
.list li{
    list-style: none;
    padding: 13px;
}
.list li a{
    text-decoration: none;
    color: rgb(249, 246, 246);
}
.search{
    margin-top: 8px;
}
.search input{
    border-radius: 13px;
    background-color: white;
    width: 170px;
    margin-right: 3px;
    color: red;
    padding: 8px;
}
button{
    background-color: rgb(154, 154, 179);
    height: 43px;
    width: 70px;
    margin-right: 5px;
    border-radius: 13px;
    cursor: pointer;
}


.btt{
  float: right;
  position: sticky;
  color: white;
  background-color: black;
  width: 80px;
  height: 20px;
  text-decoration: none;
  border-radius: 9px;
}

.nav::before{
    content: '';
    background: url('./images/lumbini.jpg') repeat center center/cover ;
    position: absolute;
    top: 110px;
    left: 0px;
width: 100%;
    height: 80%;
    z-index: -1;
    opacity: 1;
}
.headMsg{
    text-align: center;
    align-items: center;
    font-family: var(--font-2);
    font-weight: bold;
    color:rgb(227, 28, 150) ;
    background-color: antiquewhite;
    opacity: 0.8;
    border-radius: 24px;
    width: 50%;
    font-size: 40px;
    margin: auto;
}

ul {
    list-style: none;
  }
  
  /* Responsive image gallery rules begin*/
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 10px;
  }
  
  .image-gallery > li {
    flex-basis: 350px; /*width: 350px;*/
    position: relative;
    cursor: pointer;
  }
  
  .image-gallery::after {
    content: "";
    flex-basis: 350px;
  }
  
  .image-gallery li img {
    object-fit: cover;
    max-width: 80%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* hover */
  .image-gallery li:hover .overlay {
    transform: scale(1);
  }

.footer{
    padding: 20px;
    background-color: rgb(175, 153, 235) ;
    margin-top: 40px;
    text-align: center;
}
